button {
    font-size: 1.3rem;
    padding: 1rem;
    color: $purple;
    border-radius: 8px;
    border: 2px solid $purple;
    margin: .3rem;
    box-shadow: 2px 2px 4px rgba(37, 37, 37, .2);
}

button:hover {
    background-color: $purple;
    color: #fff;
}

.search {
    margin-top: 2rem;
}