$purple: #764EA8;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import "./custom/typography";
@import "./custom/buttons";

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bodycontent {
  display: flex;
  flex-direction: column;
}

